{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block head_title %}DjangoBlog{% endblock head_title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href='{% static "css/main.css" %}'/>
</head>


<body class="single is-preload">
{% include "messages.html" %}
{% include "header.html" %}

<div id="wrapper">
    {% block content %}
    {% endblock content%}
</div>

{% include "footer.html" %}
<!-- Scripts -->
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/browser.min.js" %}'></script>
<script src='{% static "js/breakpoints.min.js" %}'></script>
<script src='{% static "js/util.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>


</body>
</html>

